body{
    background-color: #ebebeb;
}



.overall-form{
    margin-left: 0px;
}
.navbar-brand{
    background-color: lightgray;
}
.navbar{
    background-color: white;
}
.white-row{
    background-color:white;
    margin-top: 10%;
    padding: 5px;
}