body{
    background-color: #3abfae;
}
    .form-container{
    padding-top: 10px;
    margin-top: 200px;
    background-color: white;

}
.color-icon{
    color:#39c0b1;
}
.btn-green{
    background-color:#39c0b1 ;
    color: white;

    
}
